/* SignIn Box Style */
.label-style{
    font-size: 15px;
}
.w-21{
    width: 21rem;
}
.sign-in-txt{
    font-size: 1.5rem;
}

.divider-text {
    position: relative;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
.divider-text span {
    padding: 7px;
    font-size: 12px;
    position: relative;   
    z-index: 2;
}
.divider-text:after {
    content: "";
    position: absolute;
    width: 100%;
    border-bottom: 1px solid #ddd;
    top: 55%;
    left: 0;
    z-index: 1;
}
img.google-icon-style {
    height: 1.3rem;
}

.signin-box-style{
    border: 1px solid #e4e3e3;
    padding: 40px;
    border-radius: 10px;
}
#password{
    border: none;
    width: 90%;
}
.password-inputbox {
    border: 1px solid #c8d0d4;
    border-radius: 4px;
}

.bg-btn{
    background: linear-gradient(to right, #424a63, #e05e4b, #edd36c) !important;
    opacity: 0.8;
    transition: 0.3s;
    border: none !important;
}

.bg-btn{
    background: linear-gradient(to right, #4e5771, #e05a45, #ebd166) !important;
    opacity: 1;
    transition: 0.3s; 
    border: none !important;
}

.form-control:focus{
    box-shadow: none !important;
}
